In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import math
import statsmodels.api as sm

In [17]:
csv2019 = pd.read_excel("EconomicIndicators2019.xlsx")
csv2019.head()

,No,Country,Continent,LifeExpect,GDPPC,MfgMn$,AgriMn$,CO2kt,HealthPC$,Pop_mn
0,1,Afghanistan,Asia,63.565,500.522981,1331.48,4872.44,11238.83,74.234104,37.77
1,2,Albania,Europe,79.282,5396.214227,963.57,2832.29,4993.30,NaN,2.85
2,3,Algeria,Africa,76.474,4021.983608,40980.38,21189.60,170582.40,250.560776,42.71
3,4,Angola,Africa,62.448,2142.238757,4253.81,5463.38,24382.90,69.379341,32.35
4,5,Antigua and Barbuda,North America,78.691,18187.779712,37.48,29.25,509.00,801.543823,0.09

In [18]:
csv2019.info()  #have missing values in  CO2kt and HealthPC$

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No          177 non-null    int64
 1   Country     177 non-null    object
 2   Continent   177 non-null    object
 3   LifeExpect  177 non-null    float64
 4   GDPPC       177 non-null    float64
 5   MfgMn$      177 non-null    float64
 6   AgriMn$     177 non-null    float64
 7   CO2kt       167 non-null    float64
 8   HealthPC$   164 non-null    float64
 9   Pop_mn      177 non-null    float64
dtypes: float64(7), int64(1), object(2)
memory usage: 14.0+ KB

In [19]:
continents = csv2019['Continent'].unique()  #Not organized string.
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania', 'EuRope', 'Asi', 'ASIA', 'Euro', 'N America', 'Afric'],
      dtype=object)

In [20]:
#Asia, Europe, Africa, North America, South America, Oceania
continent_mapping = {
    'Asia': 'Asia', 'ASIA': 'Asia', 'Asi': 'Asia',
    'Europe': 'Europe', 'EuRope': 'Europe', 'Euro': 'Europe',
    'Africa': 'Africa', 'Afric': 'Africa',
    'North America': 'North America', 'N America': 'North America',
    'South America': 'South America',
    'Oceania': 'Oceania'
}

csv2019['Continent'] = csv2019['Continent'].map(continent_mapping)
continents = csv2019['Continent'].unique()
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)